html, body {
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: 'Delius', cursive;
  background-color: #eeeeee;
}

h1{
    margin: 50px auto 0 auto;
    font-family: 'Great Vibes', cursive;
    font-size: 5rem;
    color: #e39774;
    line-height: 1;
}

.me{
    width: 50%;
    border-radius: 100%;
}

h2{
    font-family: 'Kaushan Script', cursive;
    font-size: 2rem;
    color: #e39774;
    font-weight: normal;
    padding: 10px;
}
h3{
    color: #e39774;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5c9ead;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #326273;
}

.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;

hr{
    border: 6px dotted;
    border-bottom: none;
    color: #EAF6F6;
    width: 4%;
}

footer{
    background-color:#5c9ead;
    margin-bottom: 0;
    margin-top: 30px;
  }

.footer-link{
    margin: 30px 20px;
    display: inline-block;
    text-decoration: none;
    
}
.copyright{
    color: #EAF6F6;
    margin-bottom: 0px;
    font-size: 0.8rem;
}
hr{
    border: 6px dotted;
    border-bottom: none;
    color: #EAF6F6;
    width: 4%;
}

.contact-me{
    margin: 50px;
}